
.principal__titulo{
    display: flex;  
    justify-content: center;
    font-family: var(--fonte-principal);
    color: var(--cor-branca);
}

.principal__subtitulo{
    font-family: var(--fonte-principal);
    color: var(--cor-branca);
}

.p9s{
    font-family: var(--fonte-principal);
    color: var(--cor-branca);
}

.p9s__paragrafo{
    font-family: var(--fonte-principal);
    color: var(--cor-dourada);
    text-align: center;
    font-size: 68px;
}

.p9s__paragrafo2{
    font-size: 10px;

}



.p9s__2paragrafo{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: var(--fonte-principal);
    color: var(--cor-dourada);
  }

.p9s__video{
    display: flex;
    align-items: center;
    margin:0 auto;
    margin-top: 2em;
    padding: 1%;
    border: thick double var(--cor-dourada);
}
.p9s__subtitulo{
    font-family: var(--fonte-principal);
    color: var(--cor-dourada);
    text-align: center;
    font-size: 50px;
}

.p9s__paragrafo2{
    font-family: var(--fonte-principal);
    color: var(--cor-dourada);
    text-align: center;
    font-size: 30px;
}
.p9s__brinco,
.p9s__colar,
.p9s__bracelete,
.p9s__anel,
.p9s__livro{
    transition: transform 0.3s ease;
}
.p9s__brinco:hover,
.p9s__colar:hover,
.p9s__bracelete:hover,
.p9s__anel:hover,
.p9s__livro:hover{
    transform: scale(1.2);
}

.p9s__itens{
    display: flex;
    align-items: center;
    gap: 1.2em;
    padding: 0.8em;
}
.p9s__livro{
    width: 128px;
    height: 128px;
}

.p9s__boss{
    width: 70%;
    height: 70%;
    display: block;
    margin: 0% auto;
    margin-top: 0;
}

.footer {
  background-color: var(--cor-fundo);
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 0;
}

.redes{
  font-size: 25px;
  display: flex;
  align-items: center;
  color: var(--cor-dourada);
  padding: 15px;
}
.discord{
  font-size: 20px;
  display: flex;
  align-items: center;
  color: var(--cor-branca);
  font-family: var(--fonte-principal);
  text-decoration: none;
  width: 10%;
  height: 10%;
}

.logo__discord{
  width: 43.73px;
  width: 43.73px;
  padding: 4px; 
}

.trial{
  font-size: 20px;
  display: flex;
  align-items: center;
  color: var(--cor-branca);
  font-family: var(--fonte-principal);
  text-decoration: none;
  width: 10%;
  height: 10%;
}
.trial :hover{
  color: var(--cor-dourada);
}
.logo__ff{
  width: 43.73px;
  width: 43.73px; 
  padding: 4px;
}
