@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

:root{
    --cor-branca:#E5E5E5;
    --cor-preta: #000000;
}

.body{
    background-color: #000000;
}

.cabecalho{
    padding: 2% 0 0 ;
}

.cabecalho__menu{
    background-color: #000000;
}
.cabecalho__inicio{
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-branca);
    padding: 20px;
}

.cabecalho__tier{
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-branca);
    padding: 20px;
}

.cabecalho__lutas{
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-branca);
    padding: 20px;
}

.principal{
    background-color: var(--cor-preta);
}
.principal__titulo{
    font-family: 'Noto Sans', sans-serif;
    color: var(--cor-branca);
}

.principal__titulo2{
    font-family: 'Noto Sans', sans-serif;
    color: var(--cor-branca);
}

.principal__paragrafo1{
    font-family: 'Noto Sans', sans-serif;
    color: var(--cor-branca);
}

.principal__p9{
    font-family: 'Noto Sans', sans-serif;
    color: var(--cor-branca);
    text-align: center;
}

.principal__p10{
    font-family: 'Noto Sans', sans-serif;
    color: var(--cor-branca);
    text-align: center; 
}

.principal__p11{
    font-family: 'Noto Sans', sans-serif;
    color: var(--cor-branca);
    text-align: center;
}

.principal__p12{
    font-family: 'Noto Sans', sans-serif;
    color: var(--cor-branca);
    text-align: center;
}


.imagem__nove img{
    padding-left: 25%;
    
}
