
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Open+Sans:wght@300&display=swap');

@import url(./home.css);
@import url(./p9s.css);
@import url(./p10s.css);
@import url(./login.css);

:root{
    --cor-branca:#E5E5E5;
    --cor-preta: #000000;
    --cor-fundo: #00030C;
    --cor-dourada: #F2C46D;
    --cor-roxo: #580259;

    --fonte-principal: 'Noto sans';
    --fonte-secundaria:'Open Sans';
}

* {
    margin: 0;
    padding: 0;
}

.body{
    background: var(--cor-fundo);
}

.cabecalho{
    padding: 2% 0 0 ;
}

.cabecalho__menu{
    background: var(--cor-fundo);
}
.cabecalho__menu-navegacao{
    font-family: var(--fonte-secundaria);;
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-branca);
    padding: 20px;
    text-decoration: none;
}

.cabecalho__menu-navegacao:hover {
    color: var(--cor-dourada)
}

.cabecalho__menu-navegacaoright{
    font-family: var(--fonte-secundaria);;
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-branca);
    padding: 20px;
    text-decoration: none;
}


.cabecalho__menu-baixar,
.cabecalho__menu-login{
    font-family: var(--fonte-secundaria);;
    font-size: 24px;
    color: var(--cor-branca);
    padding: 20px;
    text-decoration: none;
    float: right;
}

.cabecalho__menu-baixar{
    float: right;
    background-color: var(--cor-dourada);
    color: var(--cor-fundo);
    text-decoration: none;
    font-weight: 700;
}