
.principal__titulo{
    display: flex;  
    justify-content: center;
    font-family: var(--fonte-principal);
    color: var(--cor-branca);
}

.principal__subtitulo{
    font-family: var(--fonte-principal);
    color: var(--cor-branca);
}

.p9s{
    font-family: var(--fonte-principal);
    color: var(--cor-branca);
}

.p9s__paragrafo{
    font-family: var(--fonte-principal);
    color: var(--cor-dourada);
    text-align: center;
    font-size: 68px;
}

.p9s__paragrafo2{
    font-size: 10px;

}

.p9s__toolbox{
    display: flex;
    justify-content: center;
    margin: 80px;
    font-family: var(--fonte-principal);
    color: var(--cor-dourada);
    font-size: 50px;  
}

/*estilo do botão*/

.p9s__toolbox {
    justify-content: center;
    position: relative; 
    display: flex;
    padding: 10px 20px;
    color: var(--cor-dourada);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.2s;
    margin-top: 40px;
    letter-spacing: 4px
  
  }
  .p9s__toolbox:hover {
    background: var(--cor-dourada);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--cor-dourada),
  
                0 0 25px var(--cor-dourada),
  
                0 0 50px var(--cor-dourada),
  
                0 0 100px var(--cor-dourada);
  }
  .p9s__toolbox span {
    position: absolute;
    display: block;
  }
  .p9s__toolbox span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,var(--cor-dourada));
    animation: btn-anim1 1s linear infinite;
  }
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%; 
    }
  } 
  .p9s__toolbox span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--cor-dourada));
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  .p9s__toolbox span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,var(--cor-dourada));
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  .p9s__toolbox span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--cor-dourada));
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    } 
  }

.p9s__2paragrafo{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: var(--fonte-principal);
    color: var(--cor-dourada);
  }

.p9s__video{
    display: flex;
    align-items: center;
    margin:0 auto;
    margin-top: 2em;
    padding: 1%;
    border: thick double var(--cor-dourada);
}
.p9s__subtitulo{
    font-family: var(--fonte-principal);
    color: var(--cor-dourada);
    text-align: center;
    font-size: 50px;
}

.p9s__paragrafo2{
    font-family: var(--fonte-principal);
    color: var(--cor-dourada);
    text-align: center;
    font-size: 30px;
}
.p9s__brinco,
.p9s__colar,
.p9s__bracelete,
.p9s__anel,
.p9s__livro{
    transition: transform 0.3s ease;
}
.p9s__brinco:hover,
.p9s__colar:hover,
.p9s__bracelete:hover,
.p9s__anel:hover,
.p9s__livro:hover{
    transform: scale(1.2);
}

.p9s__itens{
    display: flex;
    align-items: center;
    gap: 1.2em;
    padding: 0.8em;
}
.p9s__livro{
    width: 128px;
    height: 128px;
}

.p9s__boss{
    width: 70%;
    height: 70%;
    display: block;
    margin: 0% auto;
    margin-top: 0;
}

.footer {
  background-color: var(--cor-fundo);
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 0;
}

.redes{
  font-size: 25px;
  display: flex;
  align-items: center;
  color: var(--cor-dourada);
  padding: 15px;
}
.discord{
  font-size: 20px;
  display: flex;
  align-items: center;
  color: var(--cor-branca);
  font-family: var(--fonte-principal);
  text-decoration: none;
  width: 10%;
  height: 10%;
}

.logo__discord{
  width: 43.73px;
  width: 43.73px;
  padding: 4px; 
}

.trial{
  font-size: 20px;
  display: flex;
  align-items: center;
  color: var(--cor-branca);
  font-family: var(--fonte-principal);
  text-decoration: none;
  width: 10%;
  height: 10%;
}
.trial :hover{
  color: var(--cor-dourada);
}
.logo__ff{
  width: 43.73px;
  width: 43.73px; 
  padding: 4px;
}
